@font-face {
  font-family: "karlaEL";
  src: url(../fonts/Karla-ExtraLight.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "karlaR";
  src: url(../fonts/Karla-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "playfairB";
  src: url(../fonts/Karla-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "karlaSB";
  src: url(../fonts/Karla-SemiBold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "karlaEB";
  src: url(../fonts/Karla-ExtraBold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "karlaI";
  src: url(../fonts/Karla-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "karlaBI";
  src: url(../fonts/Karla-BoldItalic.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "playfairB";
  src: url(../fonts/PlayfairDisplay-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "richie";
  src: url(../fonts/Richie-Brusher.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "oswaldL";
  src: url(../fonts/Oswald-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "oswaldR";
  src: url(../fonts/Oswald-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "oswaldB";
  src: url(../fonts/Oswald-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "DDIN";
  src: url(../fonts/D-DIN.otf) format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "DDIN";
  src: url(../fonts/D-DIN-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html, body {
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  font-family: "karlaR", sans-serif; }

.sign-up-btn {
  font-size: 1.3rem;
  border-radius: 0;
  padding: .1rem .8rem; }

.header__button {
  background-color: #ff0088;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-left: .5rem;
  border-radius: 0;
  padding: .3rem 3rem; }
  .header__button:hover {
    color: #fff;
    opacity: .8; }

.main-content {
  padding: 2rem 10rem; }
  @media screen and (max-width: 576px) {
    .main-content {
      padding: 2rem 0; } }
  @media screen and (max-width: 1200px) {
    .main-content {
      padding: 0; } }

.sales__sub--alpha {
  background-color: #f5f5f5;
  height: 26rem;
  position: relative; }

.sales__sub--title {
  font-family: "karlaSB", sans-serif;
  font-size: 2rem; }

.sales__sub--price {
  color: #10d869;
  font-family: "oswaldL", sans-serif; }

.sales__sub--cart {
  font-family: "karlaB", sans-serif;
  font-size: 1.7rem;
  color: #10d869;
  opacity: 0;
  transform: translateY(-3.5rem); }
  .sales__sub--cart--svg {
    height: 1.6rem;
    margin-top: -.4rem;
    filter: invert(69%) sepia(24%) saturate(5791%) hue-rotate(98deg) brightness(102%) contrast(87%); }

.sales__sub--view {
  font-size: 3rem;
  color: #fff;
  background-color: #00a650;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.sales__sub:hover .sales__sub--alpha {
  border: 2px solid #10d869; }

.sales__sub:hover .sales__sub--cart {
  opacity: 1;
  transition: all .2s; }

.sales__sub:hover .sales__sub--price {
  opacity: 0;
  transition: all .2s; }

.sales__sub:hover .sales__sub--view {
  opacity: 1;
  transition: all .2s; }

.sales__sub:hover .sales__sub--img {
  opacity: 0.1;
  transform: scale(1.2);
  transition: all .2s; }

.sales__sub a {
  text-decoration: none; }

.filter__text {
  font-family: "karlaB", sans-serif; }

.categories {
  font-family: "karlaSB", sans-serif;
  font-size: 1.7rem;
  background-color: #f5f5f5; }
  .categories__list--head {
    color: #10d869;
    margin-top: 1.7rem; }

.mailing__text--one {
  margin-top: 10rem;
  font-family: "playfairB", sans-serif;
  font-size: 3rem;
  color: #111111; }

.mailing__text--two {
  font-family: "oswaldR", sans-serif;
  font-size: 2rem;
  color: #7b7b7b; }

.mailing__form input:focus {
  border: 2px solid #141414;
  box-shadow: none; }

.side__head {
  font-family: "oswaldR", sans-serif;
  font-size: 4rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid #141414;
  width: 44%;
  margin: auto; }

.side--one {
  background-color: #f5f5f5; }
  .side--one__img {
    background-image: url(../../img/niara-8.png);
    max-width: 100%;
    height: 15rem;
    background-position: center;
    background-size: cover;
    margin-top: 1.5rem; }
  .side--one__ng {
    font-family: "karlaSB", sans-serif;
    font-size: 2rem; }
  .side--one__music {
    font-family: "karlaBI", sans-serif;
    color: #10d869;
    font-size: 1.5rem; }

.side--two {
  background-color: #f5f5f5; }
  .side--two__title {
    font-size: 1.5rem;
    font-family: "karlaSB", sans-serif;
    margin-top: 1rem; }
  .side--two__date {
    color: #10d869;
    font-family: "karlaI", sans-serif;
    font-size: 1.4rem; }
  .side--two__events {
    color: #00a650;
    font-family: "karlaBI", sans-serif;
    font-size: 1.9rem; }

.side--three__img--alpha {
  background-image: url(../../img/niara-10.png);
  background-position: center;
  max-width: 100%;
  height: 15rem;
  background-size: cover;
  margin-top: -.5rem; }

.side--three__img--beta {
  background-image: url(../../img/niara-11.png);
  background-position: bottom;
  max-width: 100%;
  height: 15rem;
  background-size: cover; }

.side--three__text {
  font-family: "karlaSB", sans-serif; }

.tv__image--1 {
  background-image: url(../../img/niara-1.png);
  height: 44rem;
  background-size: cover;
  background-position: center; }

.tv__text--1 {
  background-color: #00a650; }

.tv__image--2--alpha {
  background-image: url(../../img/niara-2.png);
  height: 21rem;
  background-size: cover;
  background-position: center; }

.tv__image--2--beta {
  background-image: url(../../img/niara-3.png);
  height: 21rem;
  background-size: cover;
  background-position: center;
  margin-top: 2rem; }

.dropdown {
  margin-top: 3rem; }
  .dropdown .dropdown-category {
    font-size: 2rem;
    border: 2px solid #10d869;
    border-radius: 0;
    box-shadow: none; }
  .dropdown .dropdown-category::after {
    margin-left: 8rem; }
  .dropdown .dropdown-item {
    border: none; }

.category-text {
  color: #fff;
  background-color: #00a650; }

.niara--4--img {
  background-image: url(/img/niara-4.png);
  width: 100%;
  height: 15rem;
  background-position: center;
  background-size: cover; }

.niara--5--img {
  background-image: url(/img/niara-5.png);
  width: 100%;
  height: 15rem;
  background-position: center;
  background-size: cover; }

.niara--6--img {
  background-image: url(/img/niara-6.png);
  width: 100%;
  height: 15rem;
  background-position: bottom;
  background-size: cover; }

.niara--7--img {
  background-image: url(/img/niara-7.png);
  width: 100%;
  height: 15rem;
  background-position: center;
  background-size: cover; }

.niara__text--1 {
  font-family: "karlaSB", sans-serif;
  font-size: 1.7rem;
  line-height: 1.2;
  letter-spacing: -1px; }

.niara__text--2 {
  font-size: 1.5rem;
  font-family: "karlaI", sans-serif;
  color: #10d869; }

.tv-text-i {
  font-family: "karlaB", sans-serif; }

.tv-text-ii {
  font-family: "karlaEL", sans-serif; }

.tv-text-iii {
  font-family: "karlaB", sans-serif;
  font-size: 1.3rem; }

.tv-text-iv {
  font-family: "karlaEL", sans-serif;
  font-size: 1.3rem; }

section.church {
  padding: 0; }
  section.church .church-text-1 {
    font-size: 1.2rem;
    letter-spacing: -1px; }
  section.church .church-text-2 {
    line-height: 1.6;
    font-family: "karlaEL", sans-serif;
    letter-spacing: 1px; }

section.church-body {
  margin: 0 19rem; }
  @media only screen and (max-width: 767px) {
    section.church-body {
      margin: 0; } }
  section.church-body .test img {
    height: 15rem;
    object-fit: cover; }
    section.church-body .test img:hover {
      border: 3px solid #00a650;
      opacity: 0.3;
      transition: all 0.5s; }
  section.church-body .test:hover .now-playing {
    opacity: 1;
    transition: all 0.5s; }
  section.church-body .karla-b {
    font-family: "karlaSB", sans-serif; }
  section.church-body .now-playing {
    opacity: 0; }

.dropdown-qty {
  width: 5rem; }
  .dropdown-qty .dropdown-qty-no {
    color: green; }

.green {
  height: 4px;
  width: 12rem;
  background-color: #00a650;
  margin: 0 auto; }

.svg-green {
  filter: invert(69%) sepia(24%) saturate(5791%) hue-rotate(98deg) brightness(102%) contrast(87%); }

.svg-white {
  filter: invert(100%) sepia(0%) saturate(17%) hue-rotate(20deg) brightness(106%) contrast(106%); }

.svg-small {
  width: 2.5rem;
  height: 2.5rem; }

.text-green {
  color: #10d869; }

.text-black {
  color: #111111; }

.bg-grey {
  background-color: #f5f5f5; }

.bg-green {
  background-color: #00a650; }

.bg-black {
  background-color: #111111; }

@media only screen and (max-width: 1200px) {
  .nav-item {
    margin: 0;
    padding: 0;
    font-size: 1rem; } }

.nav-link {
  font-family: "karlaSB", sans-serif;
  color: #141414 !important;
  transition: all .2s; }
  .nav-link:hover {
    border-bottom: 3px solid #000; }
  @media only screen and (max-width: 1200px) {
    .nav-link {
      margin: 0 !important;
      line-height: 1; } }

.nav-icon {
  width: 2.5rem;
  margin-right: 0.5rem; }

.nav__logo {
  height: 5rem; }

@media only screen and (max-width: 1200px) {
  .nav {
    font-size: 1.2rem; } }

.active {
  border-bottom: 3px solid #000; }

.footer {
  margin-top: 5rem;
  font-family: "oswaldR", sans-serif; }
  .footer ul {
    margin-bottom: 0; }
  @media only screen and (max-width: 992px) {
    .footer__logo {
      order: 3; } }
  .footer__text {
    font-size: 1.4rem;
    margin-top: 1.9rem;
    margin-bottom: 0;
    text-decoration: none;
    color: #111111; }
    .footer__text:hover {
      color: #111111; }
  .footer__icon {
    width: 1.3rem; }
    .footer__icon:not(last-child) {
      margin-right: 1rem; }
  @media only screen and (max-width: 992px) {
    .footer__social {
      margin-top: 0 !important; } }
  .footer__links {
    margin: 0 2rem;
    column-gap: 2rem; }
    @media only screen and (max-width: 1200px) {
      .footer__links {
        column-gap: 1rem; } }
    @media only screen and (max-width: 992px) {
      .footer__links {
        flex-direction: column;
        align-items: center; } }
  @media only screen and (max-width: 992px) {
    .footer__content {
      flex-direction: column;
      align-items: center; } }

.copyright-text {
  font-size: 1rem; }

.header {
  background-image: url("../../img/main-img.png");
  height: 60vh;
  max-width: 100%;
  background-size: cover;
  background-position: top; }
  .header__text {
    padding-left: 4rem;
    padding-top: 17rem; }
    @media only screen and (max-width: 62.5em) {
      .header__text {
        padding-left: 1.5rem; } }
    .header__text-one {
      font-family: "richie", sans-serif;
      font-size: 5rem;
      color: #ff0088;
      margin: 0;
      padding: 0;
      line-height: 1.1; }
      @media only screen and (max-width: 62.5em) {
        .header__text-one {
          font-size: 3rem; } }
    .header__text-two {
      color: #10d869;
      font-size: 2rem;
      margin: 0;
      padding: 0;
      line-height: 0.5; }

.lifeblood__caption--one {
  font-family: "karlaSB", sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  margin-top: 1rem; }

.lifeblood__caption--two {
  font-family: "karlaSB", sans-serif;
  line-height: 1;
  margin-top: 1rem; }

.lifeblood__btn {
  color: #fff;
  background-color: #00a650;
  margin-top: 10rem;
  font-size: 1.7rem;
  border-radius: 0;
  padding: .5rem 1.5rem; }

.lifeblood__img--contain {
  position: relative; }
  .lifeblood__img--contain p {
    color: #fff;
    font-family: "karlaB", sans-serif;
    font-size: 4rem;
    position: absolute;
    right: 5%;
    bottom: 1%; }

.lifeblood__img--one {
  max-width: 100%;
  height: 35rem;
  background-image: url(../../img/tv-1.png);
  background-repeat: no-repeat;
  background-size: cover; }

.lifeblood__img--two {
  max-width: 100%;
  height: auto;
  background-image: url(../../img/rectangle25.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .lifeblood__img--two__alpha {
    font-family: "karlaSB", sans-serif;
    font-size: 5rem;
    line-height: 1;
    padding: 6rem 1.5rem; }
  .lifeblood__img--two__beta {
    padding-left: 1.5rem;
    color: #141414; }
    .lifeblood__img--two__beta .red-vertical {
      width: 3px;
      height: 2rem;
      background-color: #ff0000; }

.lifeblood__img--four {
  transform: scale(1.5); }

.lifeblood__img--three, .lifeblood__img--four, .lifeblood__img--five {
  width: 100%;
  height: 17rem;
  object-fit: cover; }

.lifeblood--overflow {
  overflow: hidden; }

.red-vertical {
  width: 3px;
  height: 2rem;
  background-color: #ff0000; }
