.footer {
    margin-top: 5rem;
    font-family: $oswaldR;

    ul  {
        margin-bottom: 0;
    }

    &__logo {
        

        @include media (desktop)    {
            order: 3;
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-top: 1.9rem;
        margin-bottom: 0;
        text-decoration: none;
        color: $color-black-two;

        &:hover {
            color: $color-black-two;
        }
    }


    &__icon {
       width: 1.3rem;
       
       &:not(last-child)    {
            margin-right: 1rem;
       }
    }

    &__social   {
        
        @include media (desktop)    {
            margin-top: 0 !important;
        }
    }

    &__links    {
        margin: 0 2rem;
        column-gap: 2rem;

        @include media (medium) {
            column-gap: 1rem;
        }
        
        @include media (desktop){
            flex-direction: column;
            align-items: center;
        }
    }

    &__content  {
        
        @include media (desktop)   {
            flex-direction: column;
            align-items: center;
        }
    }
}


.copyright-text {
    font-size: 1rem;

    @include media (tablet){
        // order: -3;
        
    }
}

