.nav{

    &-item {

        @media only screen and (max-width: $bp-large)   {
            margin: 0;
            font-size: 1rem;
        }
    }

    &-link  {
        font-family: $karlaEB;
        color: $color-black-one !important;

        &:hover  {
            border-bottom: 3px solid #000;
        }
    }

    &-icon  {
        width: 2.5rem;
        margin-right: 0.5rem;
    }

    &__logo {
        height: 5rem;
    }

    // &-search{
    //     filter: invert(69%) sepia(24%) saturate(5791%) hue-rotate(98deg) brightness(102%) contrast(87%);
    // }

    @media only screen and (max-width: $bp-largest)  {
        font-size: 1.2rem;
    }

    @media only screen and (max-width: $bp-large)  {
       // font-size: 0.5rem;
    }
}

.active {
    border-bottom: 4px solid #000;
}

