section {
  &.church {
      padding: 0;
    .church-text-1 {
      font-size: 1.2rem;
      letter-spacing: -1px;
    }

    .church-text-2 {
      line-height: 1.6;
      font-family: $karlaEL;
      letter-spacing: 1px;
    }
  }

  &.church-body {
    margin: 0 19rem;

    @include media (tablet) {
        margin: 0;
    }

    .test {

      img {
        height: 15rem;
        object-fit: cover;
        

        &:hover {
            border: 3px solid $green-light-three;
            opacity: 0.3;
            transition: all 0.5s;
        }
      }

      &:hover .now-playing {
        opacity: 1;
        transition: all 0.5s;
      }
    }

    .karla-b {
      font-family: $karlaSB;
    }

    .now-playing {
      opacity: 0;
    }
  }
}


.dropdown-qty   {
    width: 5rem;

    .dropdown-qty-no    {
        color: green;
    }
}

.green {
    height: 4px;
    width: 12rem;
    background-color: $green-light-three;
    margin: 0 auto;
  }

.svg-green {
  filter: invert(69%) sepia(24%) saturate(5791%) hue-rotate(98deg)
    brightness(102%) contrast(87%);
}

.svg-white {
  filter: invert(100%) sepia(0%) saturate(17%) hue-rotate(20deg)
    brightness(106%) contrast(106%);
}

.svg-small {
  width: 2.5rem;
  height: 2.5rem;
}

.text-green {
  color: $green-light-two;
}

.text-black {
  color: $color-black-two;
}

///////// BACKGROUNDS
.bg-grey  {
  background-color: $grey-light-one;
}

.bg-green {
  background-color: $green-light-three;
}

.bg-black {
  background-color: $color-black-two;
}


